<form class="max-w-2xl mx-auto p-8 mt-12 space-y-6 text-gray-100" action="">
  <div class="mb-32">
    <h1 class="text-5xl font-semibold mb-4">
      <span class="text-blue-600">Say Hi!</span> And tell us about what we can do
      for you!
    </h1>
    <p class="text-center">Did we catch your eye? You like how we work?</p>
    <p class="text-center">Reach out and let's have a chat!</p>
  </div>

  <div class="mb-12">
    <label for="name">Name</label>
    <br />
    <input
      class="border border-t-slate-950 border-l-slate-950 border-r-slate-950 focus:rounded-lg border-b-white w-full focus:outline-0 focus:border-blue-600 transition-all duration-150 ease-in-out p-2"
      id="name"
      name="name"
      type="text"
    />
  </div>

  <div class="mb-12">
    <label for="email">Email</label>
    <br />
    <input
      class="border border-t-slate-950 border-l-slate-950 border-r-slate-950 focus:rounded-lg border-b-white w-full focus:outline-0 focus:border-blue-600 transition-all duration-150 ease-in-out p-2"
      id="email"
      name="email"
      type="text"
    />
  </div>

  <div class="mb-12">
    <label for="phone">Phone number</label>
    <br />
    <input
      class="border border-t-slate-950 border-l-slate-950 border-r-slate-950 focus:rounded-lg border-b-white w-full focus:outline-0 focus:border-blue-600 transition-all duration-150 ease-in-out p-2"
      id="phone"
      name="phone"
      type="text"
    />
  </div>

  <fieldset class="mb-12">
    <legend class="text-gray-100">What services are you interested in?</legend>
    <div class="mt-4 flex flex-wrap gap-4">
      <label class="cursor-pointer">
        <input
          type="checkbox"
          name="services"
          value="Website Design"
          class="hidden peer"
        />
        <span
          class="px-4 py-2 rounded-full border border-gray-300 peer-checked:bg-blue-600 peer-checked:text-gray-100 peer-checked:border-white transition duration-150 ease-in-out"
          >Website Design</span
        >
      </label>
      <label class="cursor-pointer">
        <input
          type="checkbox"
          name="services"
          value="App Design"
          class="hidden peer"
        />
        <span
          class="px-4 py-2 rounded-full border border-gray-300 peer-checked:bg-blue-600 peer-checked:text-gray-100 peer-checked:border-white transition duration-150 ease-in-out"
          >App Design</span
        >
      </label>
      <label class="cursor-pointer">
        <input
          type="checkbox"
          name="services"
          value="Social Media Visuals"
          class="hidden peer"
        />
        <span
          class="px-4 py-2 rounded-full border border-gray-300 peer-checked:bg-blue-600 peer-checked:text-gray-100 peer-checked:border-white transition duration-150 ease-in-out"
          >Social Media Visuals</span
        >
      </label>
      <label class="cursor-pointer">
        <input
          type="checkbox"
          name="services"
          value="Branding"
          class="hidden peer"
        />
        <span
          class="px-4 py-2 rounded-full border border-gray-300 peer-checked:bg-blue-600 peer-checked:text-gray-100 peer-checked:border-white transition duration-150 ease-in-out"
          >Branding</span
        >
      </label>
      <label class="cursor-pointer">
        <input
          type="checkbox"
          name="services"
          value="Logo Design"
          class="hidden peer"
        />
        <span
          class="px-4 py-2 rounded-full border border-gray-300 peer-checked:bg-blue-600 peer-checked:text-gray-100 peer-checked:border-white transition duration-150 ease-in-out"
          >Logo Design</span
        >
      </label>
      <label class="cursor-pointer">
        <input
          type="checkbox"
          name="services"
          value="Website Maintenance"
          class="hidden peer"
        />
        <span
          class="px-4 py-2 rounded-full border border-gray-300 peer-checked:bg-blue-600 peer-checked:text-gray-100 peer-checked:border-white transition duration-150 ease-in-out"
          >Website Maintenance</span
        >
      </label>
    </div>
  </fieldset>

  <div class="mb-6">
    <label for="message">Message</label>
    <br />
    <textarea
      class="w-full py-2 border-b border-white h-64"
      name="message"
      id="message"
      placeholder="I want a design for..."></textarea>
  </div>

  <button class="bg-white rounded-full px-5 py-2 text-slate-950">Submit</button>
</form>
