<footer class="px-4 sm:px-8 md:px-12 pb-8 sm:pb-12">
  <h1 class="text-2xl sm:text-3xl mb-4 sm:mb-6 text-center">Aenea Solutions</h1>
  <div
    class="flex flex-col sm:flex-row gap-4 sm:gap-6 md:gap-8 justify-between items-center text-center"
  >
    <div class="flex flex-col sm:flex-row gap-3 sm:gap-6 md:gap-8">
      <a href="/index.html#about" class="hover:underline">About</a>
      <a href="/index.html#services" class="hover:underline">Services</a>
    </div>
    <div class="flex flex-col sm:flex-row gap-3 sm:gap-6 md:gap-8">
      <a
        href="https://www.instagram.com/aenea_solutions/"
        target="_blank"
        class="hover:underline">Instagram</a
      >
      <a
        href="https://www.facebook.com/profile.php?id=61575110446744"
        target="_blank"
        class="hover:underline">Facebook</a
      >
      <a
        href="https://medium.com/@ena_39073"
        target="_blank"
        class="hover:underline">Our Blog</a
      >
    </div>
    <div class="flex flex-col sm:flex-row gap-3 sm:gap-6 md:gap-8">
      <a href="/index.html#why_us" class="hover:underline">Why Us?</a>
      <a href="/contact" class="hover:underline">Contact Us</a>
    </div>
  </div>
</footer>
