<section class="px-12 flex flex-nowrap mb-16">
  <div
    class="w-1/2 px-8 text-gray-900 bg-gray-100 rounded-lg rounded-r-none flex flex-col items-start justify-evenly relative"
  >
    <h1 class="text-7xl font-medium">
      Developing Amazing Websites For Your Businesses
    </h1>
    <h2 class="text-xl text-gray-900">
      We blend cutting-edge design with seamless web development <br /> to create
      digital experiences that captivate, engage, and deliver results.
    </h2>
    <div class="flex items-center gap-4">
      <a href="/contact">
        <button
          class="p-4 rounded-full hover:cursor-pointer hover:-translate-y-1 transition-all duration-200 ease-in-out ring-1 ring-white-600 bg-transparent"
          ><img src="arrow-diagonal.svg" alt="arrow" class="w-18" />
        </button>
      </a>
      <h3 class="text-4xl">
        Let's Turn Your Ideas Into Digital Reality - Contact Us
      </h3>
    </div>
  </div>
  <div
    class="relative w-1/2 flex items-center p-8 justify-center rounded-lg bg-gray-100 rounded-l-none overflow-hidden"
  >
    <img
      src="/hero.png"
      alt="AENEA Solutions"
      class="w-full h-auto object-cover"
    />
  </div>
</section>
