<nav class="flex justify-between gap-2 px-12 py-8 mb-12 text-xl">
  <div class="flex justify-between items-center gap-8">
    <h1 class="text-gray-900">Aenea Solutions</h1>
    <div class="text-gray-900">
      <a
        href=""
        class="border px-4 py-1 border-gray-800 rounded-2xl transition-all hover:-translate-0.5 hover:shadow-md duration-150 ease-in-out"
        >About</a
      >
      <a
        href=""
        class="border px-4 py-1 border-gray-800 rounded-2xl transition-all hover:-translate-0.5 hover:shadow-md duration-150 ease-in-out"
        >Services</a
      >
      <a
        href=""
        class="border px-4 py-1 border-gray-800 rounded-2xl transition-all hover:-translate-0.5 hover:shadow-md duration-150 ease-in-out"
        >Why us?</a
      >
    </div>
  </div>

  <div class="text-gray-100 gap-4">
    <a href="">
      <button
        class="px-4 py-1 bg-gray-900 rounded-3xl flex items-center gap-2 hover:cursor-pointer transition-all hover:shadow-lg duration-150 ease-in-out"
      >
        <p>Say Hi</p>
        <img src="arrow-diagonal.svg" class="w-8 invert" alt="arrow" />
      </button>
    </a>
  </div>
</nav>
