<section id="about" class="px-4 sm:px-8 md:px-12 mb-8 sm:mb-16">
  <h1
    class="text-3xl sm:text-5xl md:text-6xl lg:text-7xl mb-4 sm:mb-8 text-gray-900"
  >
    We envision a world where <span class="text-gray-300">every product</span> and
    service offers a seamless, user-friendly experience across all platforms — and
    we're dedicated to making that vision a reality.
  </h1>

  <hr />

  <div id="services">
    <p class="p-3 sm:p-6">01</p>
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-6 sm:gap-10 p-4 sm:p-8 md:p-12 mb-4 sm:mb-6"
    >
      <div class="flex items-center justify-center">
        <h1
          class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-center md:text-justify"
        >
          Web <br /> Design
        </h1>
      </div>
      <p class="text-lg sm:text-xl">
        Transform your online presence with stunning, user-centric web design.
        <br />
        <br />
        We craft visually pleasing and functional websites that captivate your audience
        and drive results.
        <br />
        <br />
        Let's build a website that works as hard as you do.
      </p>
    </div>

    <hr />

    <p class="p-3 sm:p-6">02</p>
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-6 sm:gap-10 p-4 sm:p-8 md:p-12 mb-4 sm:mb-6"
    >
      <div class="flex items-center justify-center">
        <h1
          class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-center md:text-justify"
        >
          App <br /> Design
        </h1>
      </div>

      <p class="text-lg sm:text-xl">
        Bring your app idea to life with intuitive, high-impact design.
        <br />
        <br />
        We create sleek, user-friendly interfaces that not only look stunning but
        also enhance usability and engagement.
        <br />
        <br />
        Let's create something extraordinary, one tap at a time.
      </p>
    </div>

    <hr />

    <p class="p-3 sm:p-6">03</p>
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-6 sm:gap-10 p-4 sm:p-8 md:p-12 mb-4 sm:mb-6 align-middle"
    >
      <div class="flex items-center justify-center">
        <h1
          class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-center md:text-justify"
        >
          Brand <br /> Design
        </h1>
      </div>
      <p class="text-lg sm:text-xl">
        Powerful, scalable and future-ready, our development services turn ideas
        into high-performing digital solutions.
        <br />
        <br />
        We build fast, secure and seamless websites and apps that don't just function
        - they excel.
        <br />
        <br />
        Let's build something that lasts.
      </p>
    </div>

    <hr />

    <p class="p-3 sm:p-6">04</p>
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-6 sm:gap-10 p-4 sm:p-8 md:p-12 mb-4 sm:mb-6"
    >
      <div class="flex items-center justify-center">
        <h1
          class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-center md:text-justify"
        >
          Social <br /> Design
        </h1>
      </div>
      <p class="text-lg sm:text-xl">
        Scroll-stopping visuals that make an impact.
        <br />
        <br />
        We create eye-catching social media graphics that elevate your brand and
        engage your audience.
        <br />
        <br />
        Let's make your brand shine, one post at a time.
      </p>
    </div>
  </div>

  <hr />
</section>
