<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Aenea Solutions</title>
  </head>
  <body>
    <slot />
  </body>
</html>
